# {{ ansible_managed }}
#
# reserved values
#
255     local
254     main
253     default
0       unspec
#
# local
#
#1      inr.ruhep

{% for table in network_iproute2_tables %}
{{ table.id }} {{ table.name }}
{% endfor %}
